<div class="bis-art">
  <figure><img src="{{thumb_url}}"></figure>
  <figcaption>
    <h2 class="bis-title">{{title}}</h1>
    <span class="bis-author-name">{{author_name}}</span>,
    <span class="bis-description">{{description}}</span>
  </figcaption>
</div>